@media (min-width: 1200px) {
    .img-section-1 {
        width: 71.9rem;
        height: 73.2rem;
    }

    .section-1 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 2.8rem;

        padding: 0 2.9rem 10.3rem 10rem;
    }

    .text-header {
        align-self: flex-end;
    }

    .section-1 p {
        font-size: 3.2rem;
    }

    .section-1 h1 {
        font-size: 5.8rem;
    }

    .section-btn-1 {
        text-align: start;
        margin: 17rem 0 3rem;
    }

    .section-2 {
        flex-direction: row;
        justify-content: center;
        gap: 6rem;
    }

    .section-3{
        flex-direction: row;
        justify-content: space-between;
        gap: 9.2rem;
        padding: 0;
    }
    
    .section-3 form{
        width: 100%;
        padding-left: 10.9rem;
    }

    .section-3 .input-wrapper{
        width: 100%;
    }

    .bg-form{
        display: block;
    }
}