.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.8rem 4rem 6.5rem 4.3rem;
}

.section-3 form fieldset {
    border: none;
}

.section-3 form legend {
    color: #B52184;
    font-size: 3.2rem;
    font-weight: 900;
}

.section-3 .input-wrapper {
    width: 34.8rem;
    margin-bottom: 2.4rem;
    position: relative;
}

.section-3 .input-wrapper:first-of-type {
    margin-top: 4.3rem;
}

.section-3 input,
.section-3 textarea {
    width: 100%;
    padding: 1.2rem 1.6rem 1.2rem 1.4rem;

    border-radius: 16px;
    border: 1.5px solid #312D64;

    align-items: center;

    color: #312D64;
    font-family: "Mulish";
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 100%;
}

.section-3 input {
    padding-left: 5rem;
}

.section-3 textarea {
    height: 12.6rem;
}

.section-3 form input::placeholder,
.section-3 form textarea::placeholder {
    color: #312D64;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 100%;
}

.section-3 .input-wrapper img {
    position: absolute;

    width: 24px;
    height: 24px;

    top: 1rem;
    left: 1.4rem;
}

.btn-form {
    all: unset;

    width: 15rem;
    height: 4.5rem;

    border-radius: 16px;
    background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);

    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    text-transform: capitalize;
    color: #FFFFFF;

    cursor: pointer;
}

@media (min-width: 1200px) {
    .section-3{
        flex-direction: row;
        justify-content: space-between;
        gap: 9.2rem;
        padding: 0;
    }
    
    .section-3 form{
        width: 100%;
        padding-left: 10.9rem;
    }

    .section-3 .input-wrapper{
        width: 100%;
    }
}